/**
 * post edit, post new css
 */
.header-image-wrapper{
    margin:2em 0;
    background:#eee;
    display:block;    
}
.header-image-wrapper p label{
    display:inline-block;
    height:auto;
    padding:1em;
    box-sizing:border-box;
    margin-right:1em;
    background:#fff;
}
.header-image-wrapper p label img{
    margin-bottom:-4px;
}
.header-image-wrapper,
.header-image-wrapper p label{
    border:1px solid #ccc;
}
.header-image-wrapper p label{
   transition: all 0.5s ease-in-out;
}
.header-image-wrapper p input{
    visibility:hidden;
}
.header-image-wrapper input:checked +label{
    border-bottom:3px solid green;
}
.header-image-wrapper p label:hover {
    box-shadow: 0px 0px 6px 3px #b1bcb8;
    -moz-box-shadow: 0px 0px 6px 3px #b1bcb8;
    -webkit-box-shadow: 0px 0px 6px 3px #b1bcb8;
    transition: all 0.5s ease-in-out;
    -webkit-transition: box-shadow 0.5s ease-in-out;
    transform: scale(1.04, 1.04);
    outline:1px solid #999;
}
#raindrops_custom_css .header-image-wrapper + p,
#raindrops_custom_css .header-image-wrapper p{
    border:none;
}
#raindrops_custom_css p{
    border-bottom:1px solid #ccc;
}
#raindrops_custom_css_field{
    width:100%;
    height:20em;
    font-size:1.3em;
}
/**
 * for gutenberg 
 */
.edit-post-visual-editor .editor-post-title{
    max-width:760px;
    padding:0;
    margin-left:auto;
    margin-right:auto;
}
.gutenberg__editor img {
    max-width: 100%;
    height: auto;
}
.edit-post-visual-editor a.attachment{
    max-width:100%;
    width:auto;
}
p.wp-block-paragraph.aligncenter{
    	display:table;
	margin-left:auto;
	margin-right:auto;
}

div.editor-block-list__block[data-type="core/verse"],
div.editor-block-list__block[data-type="core/preformatted"],
div.editor-block-list__block[data-type="core/code"],
div.editor-block-list__block[data-type="core/text-columns"],
.gutenberg-editor-page .wp-block-text-columns,
.gutenberg-editor-page .wp-block-separator{
    clear:both;
    float:none;
    position:relative;
}
div.editor-block-list__block[data-type="core/verse"] pre{
    white-space:pre-wrap;
}
div.editor-block-list__block[data-type="core/verse"],
div.editor-block-list__block[data-type="core/preformatted"],
div.editor-block-list__block[data-type="core/text-columns"]{
    padding:24px 46px;
}

div.edit-post-visual-editor .editor-block-list__block.is-hovered > .editor-block-list__block-edit .editor-rich-text{
   /* overflow:hidden;*/
}
div.edit-post-visual-editor [data-type="core/cover-image"][data-align="left"],
div.edit-post-visual-editor [data-type="core/cover-image"][data-align="right"]{

}

div.edit-post-visual-editor [data-type="core/cover-image"][data-align="right"] .wp-block-cover,
div.edit-post-visual-editor [data-type="core/cover-image"][data-align="right"] .editor-block-list__block-edit{
	clear:right;
	box-sizing:border-box;
	width:347px;
        min-width:0!important;
}
div.edit-post-visual-editor [data-type="core/cover-image"][data-align="left"] .wp-block-cover,
div.edit-post-visual-editor [data-type="core/cover-image"][data-align="left"] .editor-block-list__block-edit{
	clear:left;
	box-sizing:border-box;
	width:347px;
        min-width:0!important;
}
div.editor-block-list__block[data-align="right"]{
	clear:right;
	box-sizing:border-box;
        width:347px;
        min-width:0!important;
}
.edit-post-visual-editor [data-type="core/paragraph"],
.edit-post-visual-editor [data-type="core/paragraph"] [aria-label="Block: Paragraph"]{
    float:none;
}
.edit-post-visual-editor div.wp-block-gallery.alignright,
.edit-post-visual-editor div.wp-block-gallery.alignleft{
	max-width:100%;
        margin:auto;
}
.edit-post-visual-editor [data-type="core/freeform"]{
    /* Overflow encoded URL */
     word-break: break-word;
    -webkit-hyphens: auto;
       -moz-hyphens: auto;
            hyphens: auto;   
}

.edit-post-visual-editor .attachment{
   /* classic editor shift + alt + m image display improperly */
    max-width:calc(50% - 1em);
    height:auto;
}
.edit-post-visual-editor .attachment > img.alignright,
.edit-post-visual-editor .attachment > img.alignleft{
    max-width:100%;
    height:auto;
}
.edit-post-visual-editor .attachment > img.alignright{
    margin-left:1em;
}
.edit-post-visual-editor .attachment > img.alignleft{
   margin-right:1em;
}
.edit-post-visual-editor .wp-block-video{
    margin:auto;
}
.edit-post-visual-editor  section.wp-block-cover{
    margin:0;
    padding:0;
    background-size:cover;
}
.edit-post-visual-editor  [data-align="full"] figure{
    margin-left:auto;
    margin-right:auto;
    width:100%;
}

#editor .edit-post-visual-editor [data-type="core/image"][data-align="right"] figure,
#editor .edit-post-visual-editor [data-type="core/image"][data-align="left"] figure{
    /* override inline style for overflow float image */
    width:100%!important;
}
/**
 * Caption Shortcode
 */
.edit-post-visual-editor .mceTemp{
    max-width:100%;
}
.edit-post-visual-editor .wp-caption{
    max-width:100%;
    display:block;
    margin-top:0;
}
.edit-post-visual-editor img.alignleft,
.edit-post-visual-editor .wp-caption.alignright,
.edit-post-visual-editor .wp-caption.alignleft{
    overflow:hidden;
}
.edit-post-visual-editor img.alignright,
.edit-post-visual-editor .wp-caption.alignright{
    margin-left:1em;
}
.edit-post-visual-editor img.alignleft,
.edit-post-visual-editor .wp-caption.alignleft{
    margin-right:1em;
}
.edit-post-visual-editor .wp-caption.aligncenter{
    display:table;
    margin-left:auto;
    margin-right:auto;
}
.edit-post-visual-editor div[data-align="left"] + div[class="editor-block-list__sibling-inserter"] + div[data-type="core/paragraph"] p.aligncenter, 
.edit-post-visual-editor div[data-align="right"] + div[class="editor-block-list__sibling-inserter"] + div[data-type="core/paragraph"] p.aligncenter{
        min-width:50%;
}
.edit-post-visual-editor p.aligncenter.has-drop-cap{
	display:block;
}
/**
 * Shortcode Gallery
 * why html4 
 */ 
.gallery{
    display:table;
    margin-left:auto;
    margin-right:auto;
}
.gallery:after,
.gallery:before{
    content:' ';
    display:table;
    clear:both;

}
.gallery-item img{
    height:auto;
}
.gallery-item{
    float:left;
    margin:1px 3px;
    text-align:center;

    background:rgba(222,222,222,.3);
}
.gallery-columns-1 .gallery-item{
    width:99%;   
}
.gallery-columns-2 .gallery-item{
    width:49%;
    width:calc( 49% - 6px );
}
.gallery-columns-3 .gallery-item{
    width:33%; 
    width:calc( 33% - 6px );
}
.gallery-columns-4 .gallery-item{
    width:24%;
    width:calc( 24% - 6px );
}
.gallery-columns-5 .gallery-item{
    width:19%;
    width:calc( 19% - 6px );
}
.gallery-columns-6 .gallery-item{
   width:15%;
    width:calc( 16.6% - 6px );
}
.gallery-columns-7 .gallery-item{
    width:12%;
    width:calc( 14.2% - 6px );
}
.gallery-columns-8 .gallery-item{
   width:10.5%;
   width:calc( 12.5% - 6px );
}
.gallery-columns-9 .gallery-item{
    width:9%;
    width:calc( 11.1% - 6px );
}
.wp-caption-text{
    margin-left:0;
    max-width:100%;
    margin:0 3px;
}
.gallery,
.gallery-columns-1 .gallery-item:nth-child(2),
.gallery-columns-2 .gallery-item:nth-child(3),
.gallery-columns-3 .gallery-item:nth-child(4),
.gallery-columns-4 .gallery-item:nth-child(5),
.gallery-columns-5 .gallery-item:nth-child(6),
.gallery-columns-6 .gallery-item:nth-child(7),
.gallery-columns-7 .gallery-item:nth-child(8),
.gallery-columns-8 .gallery-item:nth-child(9),
.gallery-columns-9 .gallery-item:nth-child(10),
.gallery-columns-10 .gallery-item:nth-child(11){
    clear:both;
}
[data-type="core/pullquote"]:not([data-align]){
    clear:both;
}
/**
.editor-block-list__layout .editor-block-list__block[data-type="core/paragraph"][data-align="right"]{
    width:calc( 50% - 1em );
    clear:right;
    float:right;
    padding-left:0;
}
.editor-block-list__layout .editor-block-list__block[data-type="core/paragraph"][data-align="left"]{
    width:calc( 50% - 1em );
    clear:left;
    float:left;
    padding-right:0;
}
*/