/**
 * Admin Post Editor Visual Style rules
 *
 * 
 * Filetype: CSS
 * @package Raindrops
 */

@import url("style.css");

html .mceContentBody {
}

a{
    text-decoration:none;
}
a:link {

}
a:visited {

}
a:active,
a:hover {
    text-decoration:underline;
}
/* wordPress native */
.aligncenter,
div.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.alignleft {
    display:inline;
    float: left;
    margin-right:10px;
}
.alignright {
    display:inline;
    float: right;
    margin-left:1em;
}
.size-thumbnail{
    padding:.5em;
}
.wp-caption {
    border: 1px solid #ddd;
    text-align: center;
    padding: 4px 2px;
    margin: 10px;
    /* optional rounded corners for browsers that support it */
    -moz-border-radius:	3px;
    -khtml-border-radius:	3px;
    -webkit-border-radius:	3px;
    border-radius:		3px;
    max-width:100%;
    height:auto;
}
.wp-caption img {
    margin: 0;
    padding: 0;
    border: 0 none;
}
.wp-caption p.wp-caption-text {
    font-size: 100%;
    line-height: 1.5;
    padding: 0 4px 5px;
    margin: 0;
}
.sticky{
}
li.byuser,
.bypostauthor{
    margin:5px;
}
.gallery-caption{
}
#tinymce img{
    max-width:100%;
    height:auto;
}
 html .mceContentBody strong,
 html .mceContentBody b{
    font-weight:bold;
    border-bottom:none;
    text-decoration:none;
}
 html .mceContentBody em,
 html .mceContentBody i{
    font-style: italic;
}