/* optional responsive grid  end */

@media screen and (min-width : 641px){
    #doc5 .nav-menu-toggle,
    #doc3 .nav-menu-toggle{
        display:none!important;
    }
    #access{
        display:block!important;
    }
    #doc5 #container.yui-gc > .yui-u:not(.first),
    #doc4 #container.yui-gc > .yui-u:not(.first),
    #doc3 #container.yui-gc > .yui-u:not(.first){
        width:33%;
        margin:0;
    }
}
@media screen and (max-width : 640px){
    #access .menu{
        overflow:hidden!important;
    }
    .menu-item{
        float:none;
        width:100%;
    }
    .rsidebar{
        box-sizing:border-box;
    }
    .index .entry-content{
       box-sizing:border-box;     
    }
    body.rd-pw-doc5,
    body.rd-pw-doc3{
        overflow: visible;
        box-sizing:border-box;
    }
    body.rd-pw-doc5 #yui-main #container,
    body.rd-pw-doc3 #yui-main #container{
        min-height:0!important;
    }
    html,
    html .gecko{
        max-width:100%;
        margin:0;
        padding:0;
        overflow-x:hidden;
    }

    body{
        box-sizing:border-box!important;
    }
    #hd {
        min-height:3em;
    }
    #access ul li > ul {
        display:block!important;
    }   
    .raindrops-mobile-menu{
        display:block!important;
    }
    #access{display:none!important;}
    #access:target{
        display:block!important;
        /* target link position ajust */
        padding-top:100px;
        margin-top:-100px;
    }
    .ie6 #access:target{display:block!important;}
    .ie7 #access:target{display:block!important;}
    .ie8 #access:target{display:block!important;}
    .raindrops-mobile-menu{
        position:relative;
        margin:0 10px;
    }
    .raindrops-mobile-menu .open{
        position:absolute;
        top:4px;
        left:0;
        font-size:153.9%;
        width:10%;
        background: url(images/raindrops-nav-menu-expand.png);
        background-repeat:no-repeat;
        background-position:center;
    }
    .raindrops-mobile-menu .open .raindrops-nav-menu-expand{
        visibility:hidden;
        width:20px;
        height:20px;
        display:inline-block;
        text-indent:-100px;
    }
    .raindrops-mobile-menu .close{
        position:absolute;
        top:2px;
        right:5%;
        font-size:153.9%;
        width:10%;
        background: url(images/raindrops-nav-menu-shrunk.png);
        background-repeat:no-repeat;
        background-position:center;
    }
    .raindrops-mobile-menu .close .raindrops-nav-menu-shrunk{
        visibility:hidden;
        width:20px;
        height:20px;
        display:inline-block;
    }
    .page-title,
    #archives-title{
        display:block;
        font-size:153.0%;
        text-align:center;
    }
    div#doc3 div[class^="entry-meta"],
    div#doc3 .posted-on,
    div#doc3 div[class^="entry-meta"],
    div#doc3 .posted-on{
        text-align:left;
    }
    div#doc3 div[class^="entry-meta"],
    div#doc3 .posted-on,
    div#doc5 div[class^="entry-meta"],
    div#doc5 .posted-on{
        position:relative;
    }
    #doc5 .mejs-horizontal-volume-total,
    #doc3 .mejs-horizontal-volume-total{
        max-width:100%;
    }
    #doc5 .raindrops-comment-link,
    #doc3 .raindrops-comment-link{
        display:inline-block;
    }
    #doc5 .entry-title,
    #doc3 .entry-title{
        margin:.5em 0;
        font-family:sans-serif;
    }
    .raindrops-mobile-menu .menu-text{
        position:absolute;top:10px;left:44%;
    }
    #doc5 .entry-content blockquote,
    #doc3 .entry-content blockquote{
        margin:1em 0;
        max-width:100%;
    }
    #doc5 .size1of1,
    #doc5 .size1of2,
    #doc5 .size1of3,
    #doc5 .size2of3,
    #doc5 .size1of4,
    #doc5 .size3of4,
    #doc5 .size1of5,
    #doc5 .size2of5,
    #doc5 .size3of5,
    #doc5 .size4of5,
    #doc5 #access ul ul,
    #doc5 #access ul,
    #doc5 #access ul li,
    #doc5.yui-t6 #container > div.first,
    #doc5.yui-t5 #container > div.first,
    #doc5.yui-t4 #container > div.first,
    #doc5.yui-t3 #container > div.first,
    #doc5.yui-t1 #container > div.first,
    #doc5.yui-t2 #bd > div.yui-b,
    #doc5.yui-t2 #yui-main div.yui-b,
    #doc5 #container > div.first,
    #doc5 #container > .yui-u,
    .ahthor #doc5 #container div.first,
    .author #doc5 #container .yui-u,
    #doc5 .footer-widget,
    #doc5 #ft div.widget-wrapper>ul>li,
    #doc5 #ft .widget-wrapper ul,
    #doc5 #bd .yui-b,
    #doc5 #yui-main{
        float:none;
        margin:0;
        margin-left:0;
        margin-right:0;
        display:block;
        max-width:100%;
        width:100%;
        box-sizing: border-box;
        clear:both;
        background-repeat:no-repeat;
        position:static;       
    } 
    #doc3 .size1of1,
    #doc3 .size1of2,
    #doc3 .size1of3,
    #doc3 .size2of3,
    #doc3 .size1of4,
    #doc3 .size3of4,
    #doc3 .size1of5,
    #doc3 .size2of5,
    #doc3 .size3of5,
    #doc3 .size4of5,
    #doc3 #access ul ul,
    #doc3 #access ul,
    #doc3 #access ul li,
    #doc3.yui-t6 #container > div.first,
    #doc3.yui-t5 #container > div.first,
    #doc3.yui-t4 #container > div.first,
    #doc3.yui-t3 #container > div.first,
    #doc3.yui-t1 #container > div.first,
    #doc3.yui-t2 #bd > div.yui-b,
    #doc3.yui-t2 #yui-main div.yui-b,
    #doc3 #container > div.first,
    #doc3 #container > .yui-u,
    .ahthor #doc3 #container div.first,
    .author #doc3 #container .yui-u,
    #doc3 .footer-widget,
    #doc3 #ft div.widget-wrapper>ul>li,
    #doc3 #ft .widget-wrapper ul,
    #doc3 #bd .yui-b,
    #doc3 #yui-main {
        float:none;
        margin:0;
        margin-left:0;
        margin-right:0;
        display:block;
        max-width:100%;
        width:100%;
        box-sizing: border-box;
        clear:both;
        background-repeat:no-repeat;
        position:static;
    }
    #doc5 #access a,
    #doc5 #access ul ul,
    #doc5 #access ul,
    #doc5 #access ul li,
    #doc3 #access a,
    #doc3 #access ul ul,
    #doc3 #access ul,
    #doc3 #access ul li{
        border:none;
    }

    #doc5 .datetable,
    #doc3 .datetable{
        margin:0 5px 10px 0!important;
        box-sizing: border-box;
    }
    #doc5 .this-posted-in,
    #doc5 .bookmark-the,
    #doc3 .this-posted-in,
    #doc3 .bookmark-the{
        font-weight:bold;
        font-size:131%;
    }
    #doc5 .rsidebar,
    #doc5 .lsidebar
    #doc3 .rsidebar,
    #doc3 .lsidebar{
        box-sizing: border-box;
    }
    address span,
    .reply, #ft a,
    .page .hentry .entry-title a,
    #site-description,
    .blog  .sticky a,
    .home #doc5 .sticky a,
    .topsidebar ul li ul li a,
    .lsidebar ul li ul li a,
    .rsidebar ul li ul li a,
    .lsidebar li.page_item a,
    .lsidebar .widget ul li a{
        display:inline-block;
        background-repeat:no-repeat;
        width:85%;
        height:100%;
        margin:0;
        padding:0.5em;
        box-sizing: border-box;
        font-size:123%;
    }
    .entry-meta{
        text-align:left;
    }
    img.wp-smiley, img.emoji{
        vertical-align:baseline!important;
        font-size:123%;
        padding-top:.5em;
        display:inline-block;
    }

    .post-format-text,
    .archive .entry-meta a,
    .single .entry-meta a,
    .blog .entry-meta a,
    .home .entry-meta a{
       /* @1.328 display:inline-block;*/
        background-repeat:no-repeat;
        padding:.6em 0.5em 0;
        box-sizing: border-box;
        font-size:123%; 
       /* @1.328 overflow:hidden;*/
    }
    .pagination .nav-links{
        font-size:123%;
        text-align:center;
    }

    #ft .widget_categories ul li a,
    #ft .widget_categories ul li a,
    .rsidebar .widget_categories ul li a,
    .lsidebar .widget_categories ul li a
    #ft .widget_archive ul li a,
    #ft .widget_archive ul li a,
    .rsidebar .widget_archive ul li a,
    .lsidebar .widget_archive ul li a,
    #ft .categories ul li a,
    #ft .categories ul li a,
    .rsidebar .categories ul li a,
    .lsidebar .categories ul li a{
        display:inline-block;
        width:85%;
        padding:.5em;
    }

    #ft .widget_tag_cloud .tagcloud a,
    #ft .widget_tag_cloud .tagcloud a,
    .rsidebar .widget_tag_cloud .tagcloud a,
    .lsidebar .widget_tag_cloud .tagcloud a{
        display:inline-block!important;
        width:23%;
        padding:.5em 0;

    }
    .raindrops-mobile-menu{
        display:inline-block;
        height:1em;
        text-align:right;
        padding:1em;
        font-size:138.5%;
    }

    #access > div.menu > ul > li > a, 
    #access .menu > li > a,
    #access .menu-header,
    #access ul,
    #access a + ul,
    #access .children a,
    #access .sub-menu a{
            position:static;
            display:block;
            visibility:visible;
            float:none;
            overflow:visible;
            z-index:999!important;
            height:auto;
            text-align:left;
            background-image:none!important;
    }

    #top #access .menu{
         overflow:hidden;
    }
    #top #access .children,
    #top #access .sub-menu{
        margin-left:5vw;
        width:90vw;
        color:#fff;
    }
 
    #hd #site-title{
        font-size:167%;
    }
    #doc5 .entry-title,
    #doc3 .entry-title{
        font-size:153.5%;
    }
    #doc5 #site-description,
    #doc3 #site-description{
        font-size:108%;
    }
    #nav-status-bar,
    #nav-above,
    #nav-below{
        margin:0 10px;
    }
    #doc5 #header-image p,
    #doc3 #header-image p{
        font-size:2vw;
        font-weight:bold;
    }
    .blog #doc5 .format-status .post-format-status-main:before,
    .blog #doc3 .format-status .post-format-status-main:before
    .home #doc5 .format-status .post-format-status-main:before,
    .home #doc3 .format-status .post-format-status-main:before{
        content: 'STATUS';
        display:block;
        font-weight:bold;
        font-family:sans-serif;
        margin-top:1em;
    }
    #doc5 .post-format-status-publish-date,
    #doc5 .category-blog-publish-date,
    #doc3 .post-format-status-publish-date,
    #doc3 .category-blog-publish-date{
        margin:.3em 0 1em!important;
        margin:.3rem 0 1rem!important;
    }
    .widget select{
        margin:5px 3%;
        width:94%;
    }
    img.aligncenter, .aligncenter, div.aligncenter{
        box-sizing:border-box;
    }
    /* front-page.php */
    #doc5 .front-page-top-container,
    #doc3 .front-page-top-container{
        position:relative;
    }
    #doc5 .front-page-top-container .first,
    #doc3 .front-page-top-container .first{
        width:98%;
    }
    #doc5 .front-page-top-container .first + .yui-u,
    #doc3 .front-page-top-container .first + .yui-u{
        width:98%;
    }
    #doc5 .raindrops-image-page .attachment-navigation .prev a,
    #doc5 .raindrops-image-page .attachment-navigation .next a,
    #doc3 .raindrops-image-page .attachment-navigation .prev a,
    #doc3 .raindrops-image-page .attachment-navigation .next a{
        background-repeat:no-repeat;
    }
    #doc5 .raindrops-image-page .attachment-navigation .next a,
    #doc3 .raindrops-image-page .attachment-navigation .next a{
        background-position:top right;
    }
    #front-page-template-pages{
        padding:0;
    }
    #front-page-template-pages .entry-title{
        text-align:center;
    }
    /* front-page.php end */
    /* remove equal height inline style  */
    #yui-main .yui-u .rsidebar,
    #yui-main .yui-u .lsidebar{
        min-height:0!important;
    }
    #doc5 .raindrops-pinup-entries .entry-title,
    #doc3 .raindrops-pinup-entries .entry-title {
        position: absolute;
        top: -10px;
        white-space: nowrap;
        width: 100%;
        overflow: hidden;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
    }
    .raindrops-toc-front{
        margin:1em 0;  
    }
    .raindrops-toc-front li{
        list-style:none;
        width:100%;
        text-align:center;
        display:block;
        box-sizing:border-box;
        margin:1%; 
        border:1px solid rgba(222,222,222,.8);
    }
    .yui-t3 .raindrops-expand-width .datetable,
    .yui-t2 .raindrops-expand-width .datetable,
    .yui-t1 .raindrops-expand-width .datetable,
    .yui-t3 .raindrops-expand-width,
    .yui-t2 .raindrops-expand-width,
    .yui-t1 .raindrops-expand-width{
        padding-right:0;
    }
    #doc5 .widget a.post-group_by-category-title:not(.no-thumb),
    #doc5 .widget a.post-group_by-category-entry-title:not(.no-thumb),   
    #doc3 .widget a.post-group_by-category-title:not(.no-thumb),
    #doc3 .widget a.post-group_by-category-entry-title:not(.no-thumb){
        position:relative;
        display:block;
        margin-left:60px;
        width:80%;
        width: calc(100% - 60px);
        min-height:4.5em;
        max-width:100%;
        box-sizing:border-box;
    }
    #doc5 .widget a.post-group_by-category-title.no-thumb,
    #doc5 .widget a.post-group_by-category-entry-title.no-thumb,
    #doc3 .widget a.post-group_by-category-title.no-thumb,
    #doc3 .widget a.post-group_by-category-entry-title.no-thumb{
        position:static;
    }
    #doc5 .widget .post-group_by-category-title .h2-thumb,
    #doc5 .widget .post-group_by-category-entry-title .h2-thumb,
    #doc3 .widget .post-group_by-category-title .h2-thumb,
    #doc3 .widget .post-group_by-category-entry-title .h2-thumb{
        position:absolute;
        left:-60px;
    }
    .entry-content > dl{
        margin-left:0;
        margin-right:0;
    }
    .entry-content dt{
      
    }
    .entry-content dd{
        margin:0;
    }
    .rsidebar .raindrops-extend-archive ul li,
    .rsidebar .raindrops-extend-archive ul li a,
    .lsidebar .raindrops-extend-archive ul li,
    .lsidebar .raindrops-extend-archive ul li a{
        width:auto;
        display:inline-block;
    }
    .lsidebar .raindrops-extend-archive .year a{
        font-weight:bold;
        font-size:123.6%;
    }
    .format-status-not-single-post{
        padding:1em;
        box-sizing:border-box;
    }
    #yui-main .format-status .blog-main,
    #yui-main .category-blog .blog-main,
    #yui-main .format-status .entry-meta-list li,
    #yui-main .category-blog .entry-meta-list li,   
    #yui-main .format-status .entry-meta-list,
    #yui-main .category-blog .entry-meta-list{
        list-style:none;
        width:100%;
        max-width:none;
        height:auto;
        text-align:left;
        overflow:hidden;
        margin:0;
        padding:0;
        float:none;
        display:block;
    }
    .lsidebar > ul,
    .archives.front-page,
    .topsidebar > ul{
        width:90vw;
        margin:auto;
        box-sizing:border-box;
    }
    .topsidebar ul li ul li, 
    .lsidebar ul li ul li, 
    .rsidebar ul li ul li{
        padding:0;
    }
    .topsidebar .sticky-widget.widget_pages > ul,
    .topsidebar .sticky-widget.widget_archive,
    .topsidebar .sticky-widget.raindrops-extend-archive,
    .topsidebar .sticky-widget.raindrops-pinup-entries,
    .topsidebar .sticky-widget.widget_recent-post-groupby-cat{
        width:100%;
        box-sizing:border-box;
    }
    .topsidebar .sticky-widget.raindrops-pinup-entries{
        overflow:hidden;
    }
    .topsidebar .sticky-widget.raindrops-pinup-entries,
    .topsidebar .widget_recent-post-groupby-cat .xoxo .category-title a,
    .topsidebar .widget_recent-post-groupby-cat ul,
    .topsidebar .sticky-widget.widget_recent-post-groupby-cat .xoxo > li,
    .topsidebar .sticky-widget.widget_recent-post-groupby-cat{
        margin:0;
        padding:0;
    }
    .topsidebar .sticky-widget.widget_pages,
    .topsidebar .sticky-widget.widget_nav_menu{
        overflow:hidden;
        box-sizing:border-box;
    }
    .topsidebar .sticky-widget.widget_pages .sub-menu,
    .topsidebar .sticky-widget.widget_pages .children,
    .topsidebar .sticky-widget.widget_pages .sub-menu li,
    .topsidebar .sticky-widget.widget_pages .children li,
    .topsidebar .sticky-widget.widget_pages div[class$="container"] ul,
    .topsidebar .sticky-widget.widget_pages div[class$="container"] li,  
    .topsidebar .sticky-widget.widget_nav_menu .sub-menu li,
    .topsidebar .sticky-widget.widget_nav_menu .children li,
    .topsidebar .sticky-widget.widget_nav_menu div[class$="container"] ul,
    .topsidebar .sticky-widget.widget_nav_menu div[class$="container"] li{
       width:100%;
       display:block!important;
       position:static;
       float:none;
       height:auto;       
    }
    .topsidebar .sticky-widget.widget_pages li a,
    .topsidebar .sticky-widget.widget_nav_menu li a{
        border:none;
    }
    .topsidebar .sticky-widget.widget_pages li,
    .topsidebar .sticky-widget.widget_pages  .menu,
    .topsidebar .sticky-widget.widget_nav_menu li,
    .topsidebar .sticky-widget.widget_nav_menu  .menu{
        border-bottom:1px solid rgba(122,122,122,.5);
        display:block;
    }
    .topsidebar .sticky-widget.widget_pages li:last-child,
    .topsidebar .sticky-widget.widget_pages  .menu:last-child,
    .topsidebar .sticky-widget.widget_nav_menu li:last-child,
    .topsidebar .sticky-widget.widget_nav_menu  .menu:last-child{
        border-bottom:none;
    }
    .topsidebar .sticky-widget.widget_pages,
    .topsidebar .sticky-widget.widget_nav_menu{ 
        overflow:hidden;
        width:90vw;
        margin:auto;
    }
    #nav-above,
    #nav-below{
        margin:auto;
        width:90vw;      
    }
    #nav-above .nav-previous,
    #nav-below .nav-previous{
        display:block;
        width:90%;
        max-width:90%;
        margin:auto auto .5em;
        border:1px dashed rgba(122,122,122,.5);
        float:none;
    }
    #nav-above .nav-next,
    #nav-below .nav-next{
        display:block;
        width:90%;
        max-width:90%;
        margin:auto auto .5em;
        border:1px dashed rgba(122,122,122,.5);
        float:none;
    }
    .rd-col-1 #nav-below{
        margin:0;
    }

    /* @1.343 */
    .fail-search,
    .index article,
    .page article,
    .single-post article{
        width:90%;
        margin:auto auto 1em;
    }
    .entry-content .rd-table-wrapper{
        width:90vw;
        margin:auto;
    }
    .index article { 
        margin-bottom: 2em;
    }
    /* @1.345 test */
    .entry-content .alignleft,
    .entry-content .alignright,
    .entry-content .aligncenter{
        float:none;
        display:block;
        margin:auto;
    }
    .entry-content .float{
        min-width:296px;
    }
    
}
@media screen and (max-width : 480px){
    html .gecko{
        max-width:98.4%;
        margin:0;
        padding:0;
    }

}
@media screen and (max-width : 640px){
    .portfolio > ul{
        margin-left:0;
    }
    .portfolio ul.index > li{
        width:100%;
        display:block;
        padding:10px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        margin:auto;
        float:none;
    }
    .portfolio ul.index > li .post{
        background-repeat:no-repeat;
        background-position:center center!important;
    }
}
@media screen and (min-width : 1280px){
    #doc5,
    #doc3{
        margin:0 auto;
    }
}

@media
(-webkit-min-device-pixel-ratio: 1.5),
(-o-min-device-pixel-ratio: 3/2),
(min--moz-device-pixel-ratio: 1.5),
(min-device-pixel-ratio: 1.5){
    html,
    body{
        width:100%;
        overflow-x:hidden;
    }
}

@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {

    #comments .form-allowed-tags:before,
    #comments .nopassword:before,
    #comments .nocomments:before,
    .comment-notes:before,
    .logged-in-as:before{
        background: url("images/retina/info.png");
        background-size:16px 16px;
    }
    #respond .required,
    .comment-form-email .required,
    .comment-form-author .required,
    .comment-notes .required{
        background:url("images/retina/require.png");
        background-size:16px 16px;
        background-repeat:no-repeat;
    }
    .error404 .entry-title:before{
        background: url("images/retina/stop.png");
        background-size:16px 16px;
    }
    address .raindrops-accessibility-link:after{
        background: url("images/retina/accessibility.png");
        background-size:16px 16px;
    }
    address .comments-rss:after,
    address .entry-rss:after{
        background: url("images/retina/rss.png");
        background-size:16px 16px;
    }
    .raindrops-chat-author-0:before{
        background-image: url('images/retina/raindrops-chat-author-0.png');
        background-size:13px 13px;
    }
    .raindrops-chat-author-1:before{
        background-image: url('images/retina/raindrops-chat-author-1.png');
        background-size:13px 13px;
    }
    .raindrops-chat-author-2:before{
        background-image: url('images/retina/raindrops-chat-author-2.png');
        background-size:13px 13px;

    }
    .raindrops-chat-author-3:before{
        background-image: url('images/retina/raindrops-chat-author-3.png');
        background-size:13px 13px;

    }
    .raindrops-chat-author-4:before{
        background-image: url('images/retina/raindrops-chat-author-4.png');
        background-size:13px 13px;

    }
    .raindrops-chat-author-5:before{
        background-image: url('images/retina/raindrops-chat-author-5.png');
        background-size:13px 13px;

    }
    .attachment-navigation .prev a{
        background:url("images/retina/previous.png");
        background-size:16px 16px;
    }
    .nav-previous a:before{
        background: url("images/retina/previous.png");
        background-size:16px 16px;
    }
    .nav-next a:after{
        background: url("images/retina/next.png");
        background-size:16px 16px;

    }
    .attachment-navigation .next a{
        background:url("images/retina/next.png");
        background-size:16px 16px;
    }

    .icon-link-no-title{
        background: url("images/retina/link.png");
        background-size:24px 24px;
    }
    .icon-post-format-aside{
        background: url("images/retina/post-format-aside.png");
        background-size:24px 24px;
    }

    .icon-post-format-audio{
        background: url("images/retina/post-format-audio.png");
        background-size:24px 24px;
    }
    .icon-post-format-chat{
        background: url("images/retina/post-format-chat.png");
        background-size:24px 24px;
    }
    .icon-post-format-gallery{
        background: url("images/retina/post-format-gallery.png");
        background-size:24px 24px;
    }
    .icon-post-format-image{
        background: url("images/retina/post-format-image.png");
        background-size:24px 24px;
    }
    .icon-post-format-link{
        background: url("images/retina/post-format-link.png");
        background-size:24px 24px;
    }
    .icon-post-format-quote{
        background: url("images/retina/post-format-quote.png");
        background-size:24px 24px;
    }
    .icon-post-format-status{
        background: url("images/retina/post-format-status.png");
        background-size:24px 24px;
    }
    .icon-post-format-video{
        background: url("images/retina/post-format-video.png");
        background-size:24px 24px;
    }
}
@media screen and (min-width : 1280px){
    .page-template-blank_front-php  .raindrops-category-posts li,
    .page-template-blank_front-php  .raindrops-tag-posts li,
    .page-template-blank_front-php  .raindrops-recent-posts li{
        display:block;
        width:auto;
        vertical-align:top;
    }
    .page-template-blank_front-php #doc5 .yui-ge .raindrops-category-posts li,
    .page-template-blank_front-php #doc5 .yui-gc .raindrops-category-posts li,
    .page-template-blank_front-php #doc5 .yui-ge .raindrops-tag-posts li,
    .page-template-blank_front-php #doc5 .yui-gc .raindrops-tag-posts li,
    .page-template-blank_front-php #doc5 .yui-ge .raindrops-recent-posts li, /* 25% */
    .page-template-blank_front-php #doc5 .yui-gc .raindrops-recent-posts li,
    .page-template-blank_front-php #doc3 .yui-ge .raindrops-category-posts li,
    .page-template-blank_front-php #doc3 .yui-gc .raindrops-category-posts li,
    .page-template-blank_front-php #doc3 .yui-ge .raindrops-tag-posts li,
    .page-template-blank_front-php #doc3 .yui-gc .raindrops-tag-posts li,
    .page-template-blank_front-php #doc3 .yui-ge .raindrops-recent-posts li, /* 25% */
    .page-template-blank_front-php #doc3 .yui-gc .raindrops-recent-posts li{ /* 33% */
        display:inline-block;
        width:45%;
        vertical-align:top;
    }
}
@media screen and (max-width : 640px){
    .page-template-blank_front-php  .raindrops-category-posts li,
    .page-template-blank_front-php  .raindrops-tag-posts li,
    .page-template-blank_front-php  .raindrops-recent-posts li{
        display:block;
        width:auto;
        vertical-align:top;
    }
    .page-template-blank_front-php #doc5 .raindrops-category-posts li,
    .page-template-blank_front-php #doc5 .raindrops-tag-posts li,
    .page-template-blank_front-php #doc5 .raindrops-recent-posts li,
    .page-template-blank_front-php #doc3 .raindrops-category-posts li,
    .page-template-blank_front-php #doc3 .raindrops-tag-posts li,
    .page-template-blank_front-php #doc3 .raindrops-recent-posts li{
        display:inline-block;
        width:100%;
        vertical-align:top;
    }
    .page-template-blank_front-php #doc5 .raindrops-category-posts ul > li,
    .page-template-blank_front-php #doc5 .raindrops-tag-posts ul > li,
    .page-template-blank_front-php #doc5 #raindrops-recent-posts > ul > li,
    .page-template-blank_front-php #doc3 .raindrops-category-posts ul > li,
    .page-template-blank_front-php #doc3 .raindrops-tag-posts ul > li,
    .page-template-blank_front-php #doc3 #raindrops-recent-posts > ul > li{
        margin:1em 0;
    }
    .page-template-blank_front-php #doc5 .raindrops-category-posts ul > li .thumb img,
    .page-template-blank_front-php #doc5 .raindrops-tag-posts ul > li .thumb img ,
    .page-template-blank_front-php #doc5 #raindrops-recent-posts > ul > li .thumb img,
    .page-template-blank_front-php #doc3 .raindrops-category-posts ul > li .thumb img,
    .page-template-blank_front-php #doc3 .raindrops-tag-posts ul > li .thumb img ,
    .page-template-blank_front-php #doc3 #raindrops-recent-posts > ul > li .thumb img{
        width:64px!important;
    }
    .page-template-blank_front-php #doc5 .raindrops-category-posts ul > li article,
    .page-template-blank_front-php #doc5 .raindrops-tag-posts ul > li article,
    .page-template-blank_front-php #doc5 #raindrops-recent-posts > ul > li article,
    .page-template-blank_front-php #doc3 .raindrops-category-posts ul > li article,
    .page-template-blank_front-php #doc3 .raindrops-tag-posts ul > li article,
    .page-template-blank_front-php #doc3 #raindrops-recent-posts > ul > li article{
        margin-left:72px!important;
    }
    .page-template-blank_front-php #doc5 .raindrops-category-posts ul > li .posted-on,
    .page-template-blank_front-php #doc5 .raindrops-tag-posts ul > li .posted-on,
    .page-template-blank_front-php #doc5 #raindrops-recent-posts > ul > li .posted-on,
    .page-template-blank_front-php #doc3 .raindrops-category-posts ul > li .posted-on,
    .page-template-blank_front-php #doc3 .raindrops-tag-posts ul > li .posted-on,
    .page-template-blank_front-php #doc3 #raindrops-recent-posts > ul > li .posted-on{
        text-align:left;
    }
}