/**
 * Styles for boots child theme
 *
 * Purpose update style from parent theme
 */
.rd-type-boots #access .children,
.rd-type-boots #access .sub-menu{
    
}
.rd-type-boots #access .children a,
.rd-type-boots #access .sub-menu a{
    padding:10px;
    background:#fff;
    color:#555;
}
.rd-type-boots #ft{
    background:#777;
}
.rd-type-light #site-title,
.rd-type-minimal #ft a{
    color:#fff;
}

