/**
 * Raindrops Langueges Style Rules for Japanese (ja)
 * 
 * Filetype: CSS
 * @package Raindrops
 */
body.ja,
.ja h1,
.ja h2, 
.ja h3,
.ja .h1,
.ja .h2, 
.ja .h3{
		font-family:'Meiryo',Arial,sans-serif
}
/* 
.ja h1,
.ja .h1:not(h1),
.ja #site-title{
	font-size:174%;
	}
.ja h2,
.ja .h2:not(h2),
.ja .page-title,
.ja .entry-title{
	font-size:138.5%;
	}
.ja h3,
.ja .h3:not(h3){
	font-size:116%;
	}
.ja h4,
.ja .h4:not(h4){
	font-size:108%;
	}
.ja h5,
.ja .h5:not(H5){
	font-size:100%;
	}
.ja h6,
.ja .h6:not(h6){
	font-size:93%;
	}*/
/* Raindrops new h1-h6 font size from ver 0.996 start */

.ja #site-title{
	font-size:197%;
	letter-spacing: 0.04em;	

}
.ja .entry-title{
	font-size:197%;
	letter-spacing: 0.07em;	
}
.ja .lsidebar h2,
.ja .rsidebar h2{
	font-size:108%;
}
.ja .h1:not(h1),
.ja h1{
	font-size:161.6%;
	letter-spacing: 0;	

	}
.ja .h2:not(h2),
.ja h2{
	font-size:138.5%;
	letter-spacing: 0;	

	}
.ja .h3:not(h3),
.ja h3{
	font-size:116%;
	letter-spacing: 0;	

	}
.ja .h4:not(h4),
.ja h4{
	font-size:100%;
	letter-spacing: 0;	

	}
.ja .h5:not(h5),
.ja h5{
	font-size:85%;
	letter-spacing: 0.2em;	
	}
.ja .h6:not(h6),
.ja h6{
	font-size:xx-small;
	letter-spacing: 0.2em;	
	}
/* Raindrops new h1-h6 font size from ver 0.996 end */ 
.ja .footer-widget h2,
.ja .rsidebar h2,
.ja .lsidebar h2,
.ja .widgettitle h2,
.ja h2.footer-content {
	height:17px;
	text-indent:.5em;
	font-size:108%;
	padding:5px 0;
}