/**
 * Raindrops Langueges Style Rules for Japanese (ja)
 * 
 * Filetype: CSS
 * @package Raindrops
 */
@font-face {
    font-family: "Yu Gothic";
    src: local("Yu Gothic Medium");
    font-weight: 100;
}
@font-face {
    font-family: "Yu Gothic";
    src: local("Yu Gothic Medium");
    font-weight: 200;
}
@font-face {
    font-family: "Yu Gothic";
    src: local("Yu Gothic Medium");
    font-weight: 300;
}
@font-face {
    font-family: "Yu Gothic";
    src: local("Yu Gothic Medium");
    font-weight: 400;
}
@font-face {
    font-family: "Yu Gothic";
    src: local("Yu Gothic Bold");
    font-weight: bold;
}
@font-face {
    font-family: "Helvetica Neue";
    src: local("Helvetica Neue Regular");
    font-weight: 100;
}
@font-face {
    font-family: "Helvetica Neue";
    src: local("Helvetica Neue Regular");
    font-weight: 200;
}
body {
    font-family: "-apple-system", "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, sans-serif;
}
/* "Yu Gothic" chrome issue */
body.chrome.rd-type-minimal{
    font-family:   "-apple-system", "Helvetica Neue", Meiryo, "Yu Gothic", YuGothic, Verdana, sans-serif;
}
/* IE10+ */ 
@media all and (-ms-high-contrast: none) {
    body {
        font-family: Verdana, Meiryo, sans-serif;
    }
}
#archives-title,
.mce-content-body,
body.ja,
.ja h1,
.mce-content-body h2,
.ja h2,
.mce-content-body h3,
.ja h3,
.mce-content-body .h1,
.ja .h1,
.mce-content-body .h2,
.ja .h2,
.mce-content-body .h3,
.ja .h3{
    font-family: "-apple-system", "Helvetica Neue", Meiryo, "Yu Gothic", YuGothic, Verdana, sans-serif;
}
.rd-modal .header h3{
    margin-top:0;
    margin-bottom:0;
}

/* Raindrops new h1-h6 font size from ver 0.996 start */

.ja #site-title{
    margin:.5em 0;
    letter-spacing: -.04em;
}
.ja .entry-title{
    font-weight:bold;
}

.ja .lsidebar h2,
.ja .rsidebar h2{
    font-size:108%;
}

.mce-content-body .h1:not(h1),
.mce-content-body h1,
.ja .h1:not(h1){
    font-size:197%;
}
.mce-content-body .h2:not(h2),
.mce-content-body h2,
.ja .h2:not(h2),
.ja h2{
    font-size:153.9%;
}
.mce-content-body .h3:not(h3),
.mce-content-body h3,
.ja .h3:not(h3),
.ja h3{
    font-size:116%;
}
.ja.date .entry-title,
.mce-content-body .h4:not(h3),
.mce-content-body h4,
.ja .h4:not(h4),
.ja h4{
    font-size:100%;
}
.mce-content-body .h5:not(h3),
.mce-content-body h5,
.ja .h5:not(h5),
.ja h5{
    font-size:85%;
}
.mce-content-body .h6:not(h3),
.mce-content-body h6,
.ja .h6:not(h6),
.ja h6{
    font-size:xx-small;
}
/* Raindrops new h1-h6 font size from ver 0.996 end */ 
.ja .footer-widget h2,
.ja .rsidebar h2,
.ja .lsidebar h2,
.ja .widgettitle h2,
.ja h2.footer-content {
    font-size:108%;
    padding:5px 0;
}
.ja .author .entry-title{
    display:inline-block;
    margin-left:.6em;
}
.ja main .author .h2-thumb img{
    width:24px;
    height:24px;
}
.ja.date table .entry-title{
    font-weight:normal;
}
.ja.date .entry-title{
    font-weight:normal;
}
.ja #list-of-post ol .entry-title{
    font-weight:normal!important;
}
.ja em{
    font-weight:bold;
}
.ja i{
    font-style: italic;
}
/* @1.496
.mce-content-body p,
.ja p{
    line-height:1.6;
}*/
.ja .datetable .time,
.ja .datetable .month-name, 
.ja .datetable .year-name, 
.ja .datetable .day-name{
    font-style:normal;
}
.ja .rsidebar .eco-archive li,
.ja .lsidebar .eco-archive li{
    display:inline-block;
    margin:1%;
    box-sizing:border-box;
    width:3em;
}

.ja .widget_recent_comments .recentcomments{
    visibility:hidden;
}
.ja .widget_recent_comments .recentcomments a,
.ja .widget_recent_comments .recentcomments span,
.ja .widget_recent_comments .recentcomments img{
    visibility:visible;
}
.ja .widget_recent_comments .comment-author-link{
    border-bottom:1px dotted rgba(122,122,122,.5);
    display:block;
    margin-bottom:-1.5em;
}

.ja .raindrops-excerpt-more{
    width:8em;
}
.ja .entry-content ins:hover::before{
    content:'\633f \5165 ';
}
.ja .entry-content del:hover::before{
    content:'\524a \9664 ';
}

/* @1.329 ol.sectioned class render sectioned number lists */
.mce-content-body .sectioned li:before,
.ja .entry-content .sectioned li:before {
    content : '\7b2c ' counters(sectioned, '.') '\7ae0 \00a0 \00a0 \00a0';
    counter-increment : sectioned;
}
.mce-content-body  .sectioned li li:before,
.ja .entry-content .sectioned li li:before {
    content : counters(sectioned,'\7ae0') '\7bc0 \00a0 \00a0 \00a0';
    counter-increment : sectioned;
}
.mce-content-body  .sectioned li li li:before,
.ja .entry-content .sectioned li li li:before {
    content : counters(sectioned, '-') '\9805 \00a0 \00a0 \00a0';
    counter-increment : sectioned;
}
.mce-content-body  .sectioned li li li li:before,
.ja .entry-content .sectioned li li li li:before{
    content:'';
}
.ja .rd-modal h3{
    margin:0;
}