/**
 * Raindrops Langueges Style Rules for Japanese (ja)
 * 
 * Filetype: CSS
 * @package Raindrops
 */
.mce-content-body,
body.ja,
.ja h1,
.mce-content-body h2,
.ja h2,
.mce-content-body h3,
.ja h3,
.mce-content-body .h1,
.ja .h1,
.mce-content-body .h2,
.ja .h2,
.mce-content-body .h3,
.ja .h3{
	font-family:'Meiryo',Arial,sans-serif;
}
.ja .entry-content h4,
.ja .entry-content h5,
.ja .entry-content h6,
.ja .entry-content h1,
.ja .entry-content h2,
.ja .entry-content h3,
.ja .entry-content .h4,
.ja .entry-content .h5,
.ja .entry-content .h6,
.ja .entry-content .h1,
.ja .entry-content .h2, 
.ja .entry-content .h3{
       margin:1.6em 0;   
}

/* Raindrops new h1-h6 font size from ver 0.996 start */

.ja #site-title{
	font-size:197%;
        margin:.5em 0;
}
.ja .entry-title{
	font-size:153.9%;
        font-weight:bold;
}
.ja .lsidebar h2,
.ja .rsidebar h2{
	font-size:108%;
}
.mce-content-body .h1:not(h1),
.mce-content-body h1,
.ja .h1:not(h1),
.ja h1{
	font-size:161.6%;
}
.mce-content-body .h2:not(h2),
.mce-content-body h2,
.ja .h2:not(h2),
.ja h2{
	font-size:138.5%;
}
.mce-content-body .h3:not(h3),
.mce-content-body h3,
.ja .h3:not(h3),
.ja h3{
	font-size:116%;
}
.mce-content-body .h4:not(h3),
.mce-content-body h4,
.ja .h4:not(h4),
.ja h4{
	font-size:100%;
}
.mce-content-body .h5:not(h3),
.mce-content-body h5,
.ja .h5:not(h5),
.ja h5{
	font-size:85%;
}
.mce-content-body .h6:not(h3),
.mce-content-body h6,
.ja .h6:not(h6),
.ja h6{
	font-size:xx-small;
}
/* Raindrops new h1-h6 font size from ver 0.996 end */ 
.ja .footer-widget h2,
.ja .rsidebar h2,
.ja .lsidebar h2,
.ja .widgettitle h2,
.ja h2.footer-content {
	/*height:17px;
	text-indent:.5em;*/
	font-size:108%;
	padding:5px 0;
}
.ja .author .entry-title{
	display:inline-block;
	font-size:123.1%;
	margin-left:.6em;
}
.ja main .author .h2-thumb img{
	width:24px;
	height:24px;
}
.ja.date table .entry-title{
	font-size:108%;
	font-weight:normal;
	font-family:arial,helvetica,clean,sans-serif;
	
}
.ja.date .entry-title{
	font-weight:normal;
	font-family:arial,helvetica,clean,sans-serif;
}
.ja #list-of-post ol .entry-title{
	font-weight:normal!important;
	font-size:197%;
	font-family:arial,helvetica,clean,sans-serif;
}

.ja em{
        font-weight:bold;
}
.ja i{
        font-style: italic;
}

.mce-content-body p,
.ja p{
    line-height:1.6;
}
.ja .datetable .time,
.ja .datetable .month-name, 
.ja .datetable .year-name, 
.ja .datetable .day-name{
    font-style:normal;
}
.ja .rsidebar .eco-archive ul,
.ja .lsidebar .eco-archive ul{
    margin:auto;
}
.ja .rsidebar .eco-archive li,
.ja .lsidebar .eco-archive li{
    display:inline-block;
    margin:1.5%;
}

.ja .widget_recent_comments .recentcomments{
   visibility:hidden;
   margin-bottom:-1.65em;
}
.ja .widget_recent_comments .recentcomments a,
.ja .widget_recent_comments .recentcomments span,
.ja .widget_recent_comments .recentcomments img{
     visibility:visible;
}
.ja .widget_recent_comments .comment-author-link{
    border-bottom:1px dotted rgba(122,122,122,.5);
}

.ja .raindrops-excerpt-more{
    width:8em;
}
.ja .entry-content ins:hover::before{
    content:'\633f \5165 ';
}
.ja .entry-content del:hover::before{
    content:'\524a \9664 ';
}

/* @1.329 ol.sectioned class render sectioned number lists */
.mce-content-body .sectioned li:before,
.ja .entry-content .sectioned li:before {
    content : '\7b2c ' counters(sectioned, '.') '\7ae0 \00a0 \00a0 \00a0';
    counter-increment : sectioned;
}
.mce-content-body  .sectioned li li:before,
.ja .entry-content .sectioned li li:before {
    content : counters(sectioned,'\7ae0') '\7bc0 \00a0 \00a0 \00a0';
    counter-increment : sectioned;
}
.mce-content-body  .sectioned li li li:before,
.ja .entry-content .sectioned li li li:before {
    content : counters(sectioned, '-') '\9805 \00a0 \00a0 \00a0';
    counter-increment : sectioned;
}
.mce-content-body  .sectioned li li li li:before,
.ja .entry-content .sectioned li li li li:before{
    content:'';
}

.ja .entry-title.f10,
div[role="banner"] #site-title.f10,
.f10{
    font-size:77%;
}
.ja .entry-title.f11,
div[role="banner"] #site-title.f11,
.f11 {
    font-size:85%;
}
.ja .entry-title.f12,
div[role="banner"] #site-title.f12,
.f12 {
    font-size:93%;
}
.ja .entry-title.f13,
div[role="banner"] #site-title.f13,
.f13 {
    font-size:100%;
}
.ja .entry-title.f14,
div[role="banner"] #site-title.f14,
.f14 {
    font-size:108%;
}
.ja .entry-title.f15,
div[role="banner"] #site-title.f15,
.f15 {
    font-size:116%;
}
.ja .entry-title.f16,
div[role="banner"] #site-title.f16,
.f16 {
    font-size:123.1%;
}

.lsidebar h2,
.rsidebar h2{
    font-size:16px;/* if( $raindrops_base_font_size customized ) { over flow list area }*/
}
.ja .entry-title.f17,
div[role="banner"] #site-title.f17,
.f17 {
    font-size:131%;
}
.ja .entry-title.f18,
div[role="banner"] #site-title.f18,
.f18 {
    font-size:138.5%;
}
.ja .entry-title.f19,
div[role="banner"] #site-title.f19,
.f19 {
    font-size:146.5%;
}
.ja .entry-title.f20,
div[role="banner"] #site-title.f20,
.f20 {
    font-size:153.9%;
}
.ja .entry-title.f21,
div[role="banner"] #site-title.f21,
.f21 {
    font-size:161.6%;
}
.ja .entry-title.f22,
div[role="banner"] #site-title.f22,
.f22 {
    font-size:167%;
}
.ja .entry-title.f23,
div[role="banner"] #site-title.f23,
.f23 {
    font-size:174%;
}
.ja .entry-title.f24,
div[role="banner"] #site-title.f24,
.f24 {
    font-size:182%;
}
.ja .entry-title.f25,
div[role="banner"] #site-title.f25,
.f25 {
    font-size:189%;
}
.ja .entry-title.f26,
div[role="banner"] #site-title.f26,
.h1:not(h1),
.f26 {
    font-size:197%;
}